@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #083344;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }
}
/* Default scrollbar styles (Light Mode) */
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: transparent; /* Light track color */
}

::-webkit-scrollbar-thumb {
  background: #164e63; /* Light thumb color */
  border-radius: 12px;
}

/* Mobile scrollbar styles */
@media (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 8px; /* Smaller width for mobile devices */
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
  }
}

/* Dark Mode Scrollbar */
@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-track {
    background: transparent; /* Dark track color */
  }

  ::-webkit-scrollbar-thumb {
    background: #ffffff; /* Dark thumb color */
    border-radius: 12px;
  }

  @media (max-width: 768px) {
    ::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    ::-webkit-scrollbar-thumb {
      background: #aaaaaa; /* Slightly lighter thumb for better visibility */
      border-radius: 8px;
    }
  }
}

/* If you're using a CSS class for dark mode (e.g., .dark) */
.dark ::-webkit-scrollbar-track {
  background: transparent;
}

.dark ::-webkit-scrollbar-thumb {
  background: #164e63;
  border-radius: 12px;
}

@media (max-width: 768px) {
  .dark ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .dark ::-webkit-scrollbar-thumb {
    background: #aaaaaa;
    border-radius: 8px;
  }
}
